{
  email {$EMAIL}
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

(default_tls) {
  encode gzip
  tls {$EMAIL}
  reverse_proxy {args.0}:{args.1} {
    header_up X-Real-IP {remote_host}
  }
}

{$VAULT_DOMAIN} {
  import default_tls vaultwarden 80

  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  reverse_proxy /notifications/hub vaultwarden:3012
}


{$APPSMITH_DOMAIN} {
  import default_tls appsmith 80
}

{$ADGUARD_DOMAIN} {
  import default_tls adguardhome 80
}
