{
  email {$EMAIL}
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

{$VAULT_DOMAIN} {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  encode gzip

  reverse_proxy /notifications/hub vaultwarden:3012

  reverse_proxy vaultwarden:80 {
       header_up X-Real-IP {remote_host}
  }
}

{$DB_DOMAIN} {
  encode gzip zstd
  tls {$EMAIL}
  reverse_proxy postgres:5432
}

#{$XXXX_DOMAIN} {
#  encode gzip zstd
#  tls {$EMAIL}
#  reverse_proxy {container_name}:{container_ext_port} 
#}
